@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

	
body {
	background: #f4f4f4;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: auto;
	
}
/*Global*/

.container{
	width:80%;
	margin: auto;
	overflow:hidden;
}

ul {
	margin: 0;
	padding: 0;
  }

header{
	background:#ce652d;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#338481 3px solid;
}

header a {
  color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;
}

header a:hover {
	color: #969191;
	font-weight:bold;
}
/* Internal links, beginning with "#" */
a[href^="#"] {
  background-color: gold;
}

  
  header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
  }
  
  header #container {
	float:left;
  }
  
  header #branding h1{
	margin:0;
  }
  
  header nav {
	float: right;
	margin-top:10px;
  }
  
  header .highlight, header .current a{
	color:#338481;
	font-weight:bold;
  }
  
  footer{
	background: #338481;
	max-height:20px;
	padding-bottom:30px;
  }
  
  /*showcase */