@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

	
body {
	background: #f4f4f4;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: auto;
	
}
/*Global*/

.container{
	width:80%;
	margin: auto;
	overflow:hidden;
}

header{
	background:#ce652d;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#338481 3px solid;
}

header a {
  color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;
}

header a:hover {
	color: #969191;
}
/* Internal links, beginning with "#" */
a[href^="#"] {
  background-color: gold;
}
  header ul {
	margin: 0;
	padding: 0;
  }
  
  header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
  }
  
  footer{
	
  }