@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


.header {
	background: #FFB319;
	padding: 30px;
	width: 100%;
	margin: 0;
	position: fixed;
	}
	
.header-border {
	background: blue;
	
	}
	
body {
	background: #EDEDED;
	font-family: 'PT Sans', sans-serif;
	margin: auto;

}

.navigation {
	
}
