@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


.header {
	background: #FFB319;
	top: 0;
	width: 100%;
	padding: 15px 0px 0px 10px;
	margin: 0;
	position: fixed;
	}
	

	
body {
	background: #EDEDED;
	font-family: 'PT Sans', sans-serif;
	margin: auto;

}

.navigation {
	
}

.greeting {
	color: blue;
	font-size: 64px;
	padding: 0px;
	
}

a {
  color: blue;
}

/* Internal links, beginning with "#" */
a[href^="#"] {
  background-color: gold;